<section id='list-of-movies'>
  <div id="search">
    <i class="icon-search"></i>
    <input type="text" placeholder="Find movie..." ng-model="search" id="search-field">
  </div>
  <div class="sort-btns">
    <button ng-click="order = 'title'">Order&nbsp;by&nbsp;title</button>
    <button ng-click="order = 'year'">Order&nbsp;by&nbsp;year</button>
    <button ng-click="order = '-rate'">Order&nbsp;by&nbsp;rating</button>
  </div>
  <ul id="movies-list">
    <li ng-repeat="movie in movies | orderBy: order | filter: search">
      <div class="movie-poster">
        <img ng-src="{{movie.poster}}" alt="">
      </div>
      <div class="movie-info">
        <h3>{{movie.title}} ({{movie.year}})</h3>
      </div>
      <div class="movie-rate">
        <p><i class="icon-star"></i>{{movie.rate}}</p>
      </div>
      <div class="delete">
        <span ng-click="deleteMovie(movie)">X</span>
      </div>
    </li>
  </ul>
  <div id="add-movie">
    <h2><i class="icon-plus"></i>Add&nbsp;a&nbsp;movie&nbsp;here!</h2>
    <form id="add-form" ng-submit="addMovie()">
      <input type="text" id="title" ng-model="newmovie.title" required autocomplete="off">
      <label for="title">Title:</label>

      <input type="text"  id="genre" ng-model="newmovie.genre" required autocomplete="off">
      <label for="genre">Genre:</label>

      <input type="text" id="year" ng-model="newmovie.year" required autocomplete="off">
      <label for="year">Year:</label>

      <input type="text" id="rate" ng-model="newmovie.rate"  required autocomplete="off">
      <label for="rate">Rate:</label>

      <!--
      Add this functionality later
      <input type="file" id="poster" ng-model="newmovie.poster">
      <label for="poster">Pick an image for a movie poster:</label>

      -->
      <input type="submit" value="Add movie">
    </form>
  </div>
</section>
