// VARIABLES
$lightblue: #00adc9;
$darkblue: #2c3e50;

// MIXINS
@mixin movie {
  width: auto;
  font-size: 1.5rem;
  background-color: #23262d;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  color: #bcbcbc;
  transition: .3s all;
  &:hover {
    transform: scale(1.1);
  }
  .movie-poster{
    padding: 2px;
    flex: 3 3 30%
  }
  img {
    width: 50%;
  }
  .movie-info {
    flex: 4 4 45%;
  }
  .movie-rate {
    flex: 2 2 24%;
    text-align: center;
  }
  .delete {
    flex: 1 1 1%;
    align-self: flex-start;
  }
  span {
    display: block;
    padding: 5px;
    &:hover {
      background: crimson;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}//END MIXINS



// STYLES

body {
  font-family: 'Roboto', sans-serif;
  background-color: $darkblue;
  color: white;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// HEADER

header {
  display: flex;
  background-color: $lightblue;
  justify-content: space-between;
  color: white;
  position: relative;
  height: 100px;
  margin-bottom: 60px;
  overflow: hidden;
  #logo {
    flex: 1 1 35%;
    padding: 10px;
    background-color: $lightblue;
    border-right: 10px solid $darkblue;
    transform: skewX(-20deg);
    position: relative;
    left: -20px;
    display: flex;
    align-items: center;
  }
  i {
    font-size: 2rem;
    padding: 2px;
    flex: 1 1 30%;
    text-align: right;
    margin-right: 8px;
    margin-left: 10px;

  }
  h1 {
    font-size: 2.5rem;
    flex: 2 2 50%;
  }
  nav {
    flex: 2 2 60%;
    padding: 20px;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    flex-basis: 25%;
    padding: 5px;
    display: flex;
    &:hover {
      color: $darkblue;
      border-bottom: 5px solid $darkblue;
    }
    &:hover a {
      color: $darkblue;
    }
    i {
      flex: 1 1 5%;
      margin-right: -10px;
    }
    a {
      flex: 2 2 95%;
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      padding: 10px;
    }
  }
}// END HEADER


// HOMEPAGE

section#homepage {
  width: 100%;
  margin: 0 auto;
  #welcome {
    margin: 110px 50px;
  }
  #random {
    margin: 100px 30px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
  }
  a {
    color: $lightblue;
    &:hover{
      color: darken($lightblue, 5%);
    }
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .random-movie {
    @include movie;
    width: 75%;
    margin: 0 auto;
  }
}// END HOMEPAGE

// MOVIES LIST

#search{
  width: 40%;
  margin: 100px auto 30px auto;
  display: flex;
  justify-content: center;
  i {
    flex: 1 1 10%;
    font-size: 1.8rem;
    padding-top: 5px;
  }
  #search-field {
    flex: 2 2 90%;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 20px;
  }
}
.sort-btns {
  width: 65%;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-between;
  button {
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: $lightblue;
    border: none;
    color: white;
    margin: 5px;
    &:hover {
      background-color: darken($lightblue, 5%);
    }
  }
}

#movies-list {
  margin: 0 auto;
  display: block;
  width: 70%;
  li {
    @include movie;
  }
}

#add-movie {
  width: 50%;
  margin: 100px auto 60px auto;
  border: 1px solid $lightblue;
  padding-bottom: 15px;
  border-radius: 5px;
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    background-color: $lightblue;
    padding: 15px;
  }
  label, input {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 5px;
    position: relative;
  }
  input {
    border: none;
    background: none;
    border-bottom: 1px solid lightgray;
    z-index: 2;
    color: white;
    &:focus, &:valid {
      outline: none;
      border-bottom: 1px solid $lightblue;
    }
    &:focus + label, &:valid + label {
      top: -60px;
      font-size: 1rem;
      color: $lightblue;
    }
  }

  label {
    top: -30px;
    left: 0;
    z-index: 1;
    transition: all .3s ease;
  }

  input[type="submit"] {
    width: 40%;
    border: none;
    background-color: #209250;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    min-width: 150px;
    &:hover {
      background-color: darken(#209250, 5%);
    }
  }
}
// END MOVIES LIST

// FOOTER

footer {
  background-color: $lightblue;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  text-align: center;
  height: 50px;
  position: relative;
  margin-top: 180px;
  &:before{
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: top left;
    transform: skewY(-2deg);
    display: block;
    content: '';
    z-index: -1;
  }
}
// END FOOTER


// ANGULAR ANIMATIONS

main.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

main.ng-enter.ng-enter-active {
  opacity:1;
}

#movies-list li.ng-enter {
  transition: 0.3s linear all;
  opacity:0;
  transform: translateY(30px);
}

#movies-list li.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

#movies-list li.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translateX(0);
}

#movies-list li.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

// MEDIA QUERIES

@media screen and (max-width: 900px) {

  section#homepage {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.3rem;
    }
    .random-movie {
      width: 85%;
      font-size: 1.3rem;
    }
  }//END HOMEPAGE
  nav a {
    font-size: 1.3rem;
  }
  .sort-btns {
    display: block;
    button {
      display: block;
      margin: 10px auto;
      min-width: 200px;
    }
  }
  #movies-list {
    width: 85%;
    li {
      font-size: 1.3rem;
    }
  }
  #add-movie {
    width: 60%;
    h2 {
      font-size: 1.3rem;
    }
  }
}

//  END MAX-WIDTH 900px

@media screen and (max-width: 720px) {

  section#homepage {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .random-movie {
      width: 90%;
      font-size: 1rem;
    }
  }//END HOMEPAGE

  #movies-list {
    width: 90%;
    li {
      font-size: 1rem;
    }
  }

  #add-movie {
    width: 75%;
    h2 {
      font-size: 1.1rem;
    }
  }
}

//  END MAX-WIDTH 720px
