body {
  font-family: 'Roboto', sans-serif;
  background-color: #2c3e50;
  color: white;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// HEADER

header {
  display: flex;
  background-color: #00adc9;
  justify-content: space-between;
  padding: 10px;
  color: white;
  position: relative;
  height: 80px;
  margin-bottom: 60px;
  &:after {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: top right;
    transform: skewY(-2deg);
    display: block;
    content: '';
    z-index: -1;
  }

  h1 {
    font-size: 3rem;
    flex-grow: 2;
  }

  nav {
    flex-grow: 1;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }

}

// END HEADER


// HOMEPAGE

section#homepage {
  width: 80%;
  margin: 0 auto;

  article {
    margin: 40px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .random-movie {
    // make a mixin
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
}

// END HOMEPAGE

// MOVIES LIST

input#search {
  width: 30%;
  margin: 30px auto;
  display: block;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 20px;
}

.sort-btns {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  button {
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 20px;
    background: #00adc9;
    border: none;
    color: white;
  }
}

#movies-list {
  margin: 0 auto;
  display: block;
  width: 70%;

  li {
    //make a mixin
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }

  .movie-poster{

  }

  img {
  }

  .movie-info {
  }

  .movie-rate {
    text-align: center;
  }
}

#add-movie {
  width: 50%;
  margin: 0 auto;

  form {
    border: 1px solid lightgray;
  }

  label, input {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 5px;
  }
  input {
    margin: 5px auto 30px auto;
  }

  label {
  }

  input[type="submit"] {
    width: 40%;
    background-color: #209250;
    border: none;
    padding: 10px 30px;

  }
}

// END MOVIES LIST

// FOOTER

footer {
  background-color: #00adc9;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  text-align: center;
  height: 50px;
  position: relative;
  margin-top: 60px;

  &:before{
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: top left;
    transform: skewY(-2deg);
    display: block;
    content: '';
    z-index: -1;
  }
}

// END FOOTER
