body {
  font-family: 'Roboto', sans-serif;
  background-color: #2c3e50;
  color: white; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #00adc9;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  position: relative;
  height: 100px;
  margin-bottom: 60px;
  overflow: hidden; }
  header #logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 35%;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
    padding: 10px;
    background-color: #00adc9;
    border-right: 10px solid #2c3e50;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    position: relative;
    left: -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  header i {
    font-size: 2rem;
    padding: 2px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    text-align: right;
    margin-right: 8px;
    margin-left: 10px; }
  header h1 {
    font-size: 2.5rem;
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 50%;
    -ms-flex: 2 2 50%;
    flex: 2 2 50%; }
  header nav {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 60%;
    -ms-flex: 2 2 60%;
    flex: 2 2 60%;
    padding: 20px; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  header li {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header li:hover {
      color: #2c3e50;
      border-bottom: 5px solid #2c3e50; }
    header li:hover a {
      color: #2c3e50; }
    header li i {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 5%;
      -ms-flex: 1 1 5%;
      flex: 1 1 5%;
      margin-right: -10px; }
    header li a {
      -webkit-box-flex: 2;
      -webkit-flex: 2 2 95%;
      -ms-flex: 2 2 95%;
      flex: 2 2 95%;
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      padding: 10px; }

section#homepage {
  width: 80%;
  margin: 0 auto; }
  section#homepage article {
    margin: 40px; }
  section#homepage h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center; }
  section#homepage p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify; }
  section#homepage a {
    color: #00adc9; }
    section#homepage a:hover {
      color: #0097b0; }
  section#homepage h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px; }
  section#homepage .random-movie {
    font-size: 1.5rem;
    background-color: #23262d;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #bcbcbc;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    section#homepage .random-movie:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    section#homepage .random-movie .movie-poster {
      padding: 2px;
      -webkit-box-flex: 3;
      -webkit-flex: 3 3 30%;
      -ms-flex: 3 3 30%;
      flex: 3 3 30%; }
    section#homepage .random-movie img {
      width: 50%; }
    section#homepage .random-movie .movie-info {
      -webkit-box-flex: 4;
      -webkit-flex: 4 4 45%;
      -ms-flex: 4 4 45%;
      flex: 4 4 45%; }
    section#homepage .random-movie .movie-rate {
      -webkit-box-flex: 2;
      -webkit-flex: 2 2 24%;
      -ms-flex: 2 2 24%;
      flex: 2 2 24%;
      text-align: center; }
    section#homepage .random-movie .delete {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 1%;
      -ms-flex: 1 1 1%;
      flex: 1 1 1%;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    section#homepage .random-movie span {
      display: block;
      padding: 5px; }
      section#homepage .random-movie span:hover {
        background: crimson;
        cursor: pointer;
        border-radius: 10px; }

#search {
  width: 40%;
  margin: 100px auto 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #search i {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 10%;
    -ms-flex: 1 1 10%;
    flex: 1 1 10%;
    font-size: 1.8rem;
    padding-top: 5px; }
  #search #search-field {
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 90%;
    -ms-flex: 2 2 90%;
    flex: 2 2 90%;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 20px; }

.sort-btns {
  width: 65%;
  margin: 0 auto 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .sort-btns button {
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #00adc9;
    border: none;
    color: white;
    margin: 5px; }
    .sort-btns button:hover {
      background-color: #0097b0; }

#movies-list {
  margin: 0 auto;
  display: block;
  width: 70%; }
  #movies-list li {
    font-size: 1.5rem;
    background-color: #23262d;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #bcbcbc;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    #movies-list li:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    #movies-list li .movie-poster {
      padding: 2px;
      -webkit-box-flex: 3;
      -webkit-flex: 3 3 30%;
      -ms-flex: 3 3 30%;
      flex: 3 3 30%; }
    #movies-list li img {
      width: 50%; }
    #movies-list li .movie-info {
      -webkit-box-flex: 4;
      -webkit-flex: 4 4 45%;
      -ms-flex: 4 4 45%;
      flex: 4 4 45%; }
    #movies-list li .movie-rate {
      -webkit-box-flex: 2;
      -webkit-flex: 2 2 24%;
      -ms-flex: 2 2 24%;
      flex: 2 2 24%;
      text-align: center; }
    #movies-list li .delete {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 1%;
      -ms-flex: 1 1 1%;
      flex: 1 1 1%;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    #movies-list li span {
      display: block;
      padding: 5px; }
      #movies-list li span:hover {
        background: crimson;
        cursor: pointer;
        border-radius: 10px; }

#add-movie {
  width: 50%;
  margin: 100px auto 60px auto;
  border: 1px solid #00adc9;
  padding-bottom: 15px;
  border-radius: 5px; }
  #add-movie h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    background-color: #00adc9;
    padding: 15px; }
  #add-movie label, #add-movie input {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 5px;
    position: relative; }
  #add-movie input {
    border: none;
    background: none;
    border-bottom: 1px solid lightgray;
    z-index: 2;
    color: white; }
    #add-movie input:focus, #add-movie input:valid {
      outline: none;
      border-bottom: 1px solid #00adc9; }
    #add-movie input:focus + label, #add-movie input:valid + label {
      top: -60px;
      font-size: 1rem;
      color: #00adc9; }
  #add-movie label {
    top: -30px;
    left: 0;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  #add-movie input[type="submit"] {
    width: 40%;
    border: none;
    background-color: #209250;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    min-width: 150px; }
    #add-movie input[type="submit"]:hover {
      background-color: #1b7d45; }

footer {
  background-color: #00adc9;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  text-align: center;
  height: 50px;
  position: relative;
  margin-top: 180px; }
  footer:before {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    display: block;
    content: '';
    z-index: -1; }

main.ng-enter {
  -webkit-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0; }

main.ng-enter.ng-enter-active {
  opacity: 1; }

#movies-list li.ng-enter {
  -webkit-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px); }

#movies-list li.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

#movies-list li.ng-leave {
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

#movies-list li.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }

@media screen and (max-width: 900px) {
  nav a {
    font-size: 1.3rem; }
  .sort-btns {
    display: block; }
    .sort-btns button {
      display: block;
      margin: 10px auto;
      min-width: 200px; }
  #movies-list {
    width: 85%; }
    #movies-list li {
      font-size: 1.3rem; }
  #add-movie {
    width: 60%; }
    #add-movie h2 {
      font-size: 1.3rem; } }

@media screen and (max-width: 720px) {
  #movies-list {
    width: 90%; }
    #movies-list li {
      font-size: 1rem; }
  #add-movie {
    width: 75%; }
    #add-movie h2 {
      font-size: 1.1rem; } }
