body {
  font-family: 'Roboto', sans-serif; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #00adc9;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  color: white;
  position: relative;
  height: 80px;
  margin-bottom: 60px; }
  header:after {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    display: block;
    content: '';
    z-index: -1; }
  header h1 {
    font-size: 3rem;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2; }
  header nav {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  header li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    padding: 5px; }
  header a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 2rem; }

footer {
  background-color: #00adc9;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  text-align: center;
  height: 50px;
  position: relative;
  margin-top: 60px; }
  footer:before {
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    display: block;
    content: '';
    z-index: -1; }
